<!DOCTYPE html>
<html lang="en">

<head> 
<!--     <meta charset="UTF-8"> -->
<!--     <meta name = "viewport"> -->
    <title> LED Status FrontEnd! </title>
    <link rel="stylesheet" href="https://github.com/lenduong/EE250-Collab/blob/final-project-updated/final_project/http/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>
    <h1> Welcome to Our Flask Website! </h1>
    <p>This paragraph uses a custom font.</p>    
</body>
</html>
